n8n-workflows/Citylar - Tool de Edição - 17fev2026.json
{
  "name": "Citylar - Tool de Edição",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "citylar/upload",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        1120
      ],
      "id": "43175e72-5954-4677-a9c3-5bfe482c2ff2",
      "name": "Webhook",
      "webhookId": "1f7071df-5df0-4688-8f24-300b106470cc"
    },
    {
      "parameters": {
        "binaryPropertyName": "file0",
        "options": {
          "delimiter": ";",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80,
        1120
      ],
      "id": "fb023d43-bee6-41c9-8ce6-9743262bbf01",
      "name": "Extract from File",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d73e1f0-9b5e-48b4-a666-77ee27e295d6",
              "name": "Periodo",
              "value": "={{\n$json.Data.split(\"/\")[2] + \"-\" + $json.Data.split(\"/\")[1]\n}}",
              "type": "string"
            },
            {
              "id": "27b61c45-d195-4f18-93b5-2156a79dc511",
              "name": "Key",
              "value": "={{$json[\"﻿Key\"] || $json.Key}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        1024
      ],
      "id": "3c10d20a-3fc0-4dfd-b2be-5f06ed2b85f1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8",
          "mode": "list",
          "cachedResultName": "Resultado",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 223811818,
          "mode": "list",
          "cachedResultName": "iaresultado",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8/edit#gid=223811818"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Key",
              "lookupValue": "={{$json.Key}}"
            },
            {
              "lookupColumn": "Periodo",
              "lookupValue": "={{$json.Periodo}}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        928
      ],
      "id": "05070de1-5b69-4119-a3f4-f9ad25389516",
      "name": "Verifica o período",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "bGIuFFGoplKkY5UG",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8",
          "mode": "list",
          "cachedResultName": "Resultado",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 223811818,
          "mode": "list",
          "cachedResultName": "iaresultado",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8/edit#gid=223811818"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Periodo": "={{$node[\"Se a Key existe\"].json[\"Periodo\"]}}",
            "Ticket Médio": "={{$node[\"Se a Key existe\"].json[\"Ticket Médio\"]}}",
            "Data": "={{$node[\"Se a Key existe\"].json[\"Data\"]}}",
            "row_number": "={{$json.row_number}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Key",
              "displayName": "Key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Periodo",
              "displayName": "Periodo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ticket Médio",
              "displayName": "Ticket Médio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        736
      ],
      "id": "8691892e-63bf-4220-bc1b-ff55b3d5ba31",
      "name": "Atualiza Ticket",
      "credentials": {
        "googleApi": {
          "id": "bGIuFFGoplKkY5UG",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8",
          "mode": "list",
          "cachedResultName": "Resultado",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 223811818,
          "mode": "list",
          "cachedResultName": "iaresultado",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8/edit#gid=223811818"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Key": "={{$json.Key}}",
            "Nome": "={{$json.Nome}}",
            "Data": "={{$json.Data}}",
            "Periodo": "={{$json.Periodo}}",
            "Ticket Médio": "={{$json[\"Ticket Médio\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Key",
              "displayName": "Key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Periodo",
              "displayName": "Periodo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket Médio",
              "displayName": "Ticket Médio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        976
      ],
      "id": "ae283c4a-4c54-436c-8668-7aa7c8725c03",
      "name": "Cria Nova Linha",
      "credentials": {
        "googleApi": {
          "id": "bGIuFFGoplKkY5UG",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.atualizados}} registro(s) atualizado(s) e {{$json.criados}} registro(s) criado(s).",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2320,
        640
      ],
      "id": "d64def71-a3a6-4a08-b962-c41e29d86668",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"erro\",\n  \"etapa\": \"Extract from File\",\n  \"message\": \"Erro ao processar o arquivo enviado.\",\n  \"detalhe\": \"={{$json.error?.message || 'Verifique o formato da planilha (CSV com ; e header).'}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        1216
      ],
      "id": "5847ccf5-a337-4724-92de-e7e661506c1e",
      "name": "Erro: Extract from File"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=O colaborador {{$json.nomesInvalidos.join(', ')}} ainda não foi cadastrado neste módulo. Faça o cadastro deste colaborador antes de subir este arquivo ou o exclua da lista.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        1120
      ],
      "id": "9e48d24a-fcc4-4e86-9f8d-4e938bfa678e",
      "name": "Erro: Valida colaborador"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"erro\",\n  \"etapa\": \"Cria Nova Linha\",\n  \"key\": \"={{$json.Key}}\",\n  \"periodo\": \"={{$json.Periodo}}\",\n  \"message\": \"Falha ao inserir nova linha.\",\n  \"detalhe\": \"={{$json.error?.message}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2096,
        1024
      ],
      "id": "ce1a70e8-019e-4b96-9319-cfc17d12d381",
      "name": "Erro: Cria nova linha"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"erro\",\n  \"etapa\": \"Atualiza Ticket\",\n  \"key\": \"={{$json.Key}}\",\n  \"periodo\": \"={{$json.Periodo}}\",\n  \"message\": \"Falha ao atualizar registro.\",\n  \"detalhe\": \"={{$json.error?.message}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2096,
        832
      ],
      "id": "b7ab7cf3-5d2b-4fff-aa34-3ae6a46b64db",
      "name": "Erro: Atualiza ticket"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8",
          "mode": "list",
          "cachedResultName": "Resultado",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 496278067,
          "mode": "list",
          "cachedResultName": "Colaborador",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XDDPpuB6XGXww4TJN_YD62BSz-_9_YzurKPWsGcKUc8/edit#gid=496278067"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        1024
      ],
      "id": "430e73ec-69dd-47d1-975e-6bd3b62ece0a",
      "name": "Lista Colaboradores",
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "bGIuFFGoplKkY5UG",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const colaboradores = new Set(\n  $items(\"Lista Colaboradores\").map(i => String(i.json.Key).trim())\n);\n\nconst csvItems = $items(\"Edit Fields\");\n\nconst nomesInvalidos = csvItems\n  .filter(item => !colaboradores.has(String(item.json.Key).trim()))\n  .map(item => item.json.Nome);\n\nconst temInvalido = nomesInvalidos.length > 0;\n\nreturn csvItems.map(item => ({\n  json: {\n    ...item.json,\n    temInvalido,\n    nomesInvalidos\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        1024
      ],
      "id": "6689b7d3-5cf8-466e-9f43-2a2ea5defb7e",
      "name": "Valida Keys",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "757a96da-89bc-4428-b278-8dba4b41aa9c",
              "leftValue": "={{$json.temInvalido}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        1024
      ],
      "id": "d9d32e10-8617-4c90-bc42-3401305d3662",
      "name": "Se a Key existe"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9db5375-51e0-41af-ad04-3bac88faa30f",
              "leftValue": "={{$json[\"row_number\"]}}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        832
      ],
      "id": "2ec5a3e3-9c1f-4d88-a7b2-d4f103c8c5b7",
      "name": "Se o periodo já existe"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Verifique se o formato da data está correto",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1424,
        1024
      ],
      "id": "1065d650-2f4b-46fe-8799-e6ffed194096",
      "name": "Erro: Se verifica o período"
    },
    {
      "parameters": {
        "jsCode": "const orig = $items(\"Se a Key existe\"); // aqui ainda estão todos os itens do CSV\n\nreturn orig.map((o, i) => {\n  const found = items[i]?.json || {}; // o retorno do lookup (pode vir vazio)\n  return {\n    json: {\n      ...o.json,                          // mantém CSV\n      row_number: found.row_number ?? null // adiciona row_number se existir\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        832
      ],
      "id": "53ab2217-7fa5-4967-97fd-866406b5e86d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "let atualizados = 0;\nlet criados = 0;\n\nfor (const item of items) {\n  if (item.json.row_number) {\n    atualizados++;\n  } else {\n    criados++;\n  }\n}\n\nreturn [\n  {\n    json: {\n      atualizados,\n      criados\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        640
      ],
      "id": "834ac552-d20c-49d1-b291-1db3ae48048f",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro: Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Lista Colaboradores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica o período": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro: Se verifica o período",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Ticket": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro: Atualiza ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Nova Linha": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro: Cria nova linha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista Colaboradores": {
      "main": [
        [
          {
            "node": "Valida Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida Keys": {
      "main": [
        [
          {
            "node": "Se a Key existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se a Key existe": {
      "main": [
        [
          {
            "node": "Verifica o período",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro: Valida colaborador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se o periodo já existe": {
      "main": [
        [
          {
            "node": "Atualiza Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Nova Linha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Se o periodo já existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "193ff7d8-a87c-49e8-80be-e4c4ef28fd3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee5b2503fa39f07769f098b1fcdcf81ce32789300648036f340e8c0c167ab279"
  },
  "id": "diVS63G6fFpcahVx",
  "tags": []
}